{% extends 'base.html.twig' %}

{% block content %}
    <h1>{{ 'global.login'|trans }}</h1>
    <form action="{{ path('login') }}" method="POST">
        <div class="form-group">
            <input class="form-control" type="text" placeholder="{{ 'form.email'|trans }}" required name="_username">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" placeholder="{{ 'form.password'|trans }}" required name="_password">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">{{ 'form.save'|trans }}</button>
        </div>

        <a class="btn btn-primary" href="{{ path('register') }}">{{ 'global.no-account'|trans }} {{ 'global.register'|trans }}</a>
    </form>
{% endblock %}