
<p>Vous avez reçu un message de la part de <strong>{{ name }} {{ lastname }}</strong> </p>
<p> Son message : </p>
<p>{{ content }} </p>

<p> Pour le/la recontacter, par mail :  <strong>{{ mail }}</strong> ou par téléphone au <strong>{{ phone }}</strong> <p>