{% extends 'front/base.html.twig' %}

{% block content %}

<div class="home">
    <div class="container">
        <div class="row card--container">
            {% for restaurant in restaurants %}
                <div class="card card--item">
                    <div class="card-img-top card--img"><img  src="/uploads/photos/{{ restaurant.photo }}" alt="Image restaurant"><p class="card--type">{{restaurant.type}}</p> </div>
                    
                    <div class="card-body">
                        <h5 class="card-title">{{ restaurant.nom }}</h5>
                        <p class="card-text">{{ restaurant.adresse }}</p>
                        <a href="{{ path('restaurant_detail', {id: restaurant.id}) }}" class="btn">Détails</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
