{% extends 'front/base.html.Twig' %}

{% block content %}

<div class="home">
    <div class="container">
    {# {{ form(trad) }} #}
        <div class="row ">
            
        <div class="row">
         
            <div class="col-2 filters">
                <h5>{{ 'global.filtre'|trans }}</h5>
                <a class="linkFilter" href="{{ path("home") }}">Tous</a>
                {% for filter in filtres %}
                    <a class="linkFilter" href="{{ path("home_filtered", {filter: filter.slug}) }}">{{ filter.nom }}</a>
                {% endfor %}
            </div>
            <div class="col-10">
                <div class="list-group card--container">
                    {% for restaurant in restaurants %}
                            <div class="card card--item">
                                <div class="card-img-top card--img">
                                    <img  src="/uploads/photos/{{ restaurant.photo }}" alt="Image restaurant">
                                    <p class="card--type">{{ restaurant.type|replace({'-': " "}) }}</p>
                                </div>
                                
                                <div class="card-body">
                                    <h5 class="card-title">{{ restaurant.nom }}</h5>
                                    <p class="card-text">{{ restaurant.adresse }}</p>
                                    <a href="{{ path('restaurant_detail', {slug: restaurant.slug}) }}" class="btn">{{ 'restaurant.detail'|trans }}</a>
                                </div>
                            </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
