{% extends 'front/base.html.Twig' %}

{% block content %}
    <div class="home">
        <h1>{{ 'global.restaurant_detail'|trans }} {{restaurant.nom}}</h1>
        <div>
            <img  src="/uploads/photos/{{restaurant.photo}}" />
            <p>{{ 'restaurant.adresse'|trans }} : {{restaurant.adresse}}</p>
            <p>{{ 'restaurant.cp'|trans }} : {{restaurant.codePostal}}</p>
            <p>{{ 'restaurant.ville'|trans }} : {{restaurant.ville}}</p>
            <p>{{ 'restaurant.tel'|trans }} : {{restaurant.telephone}}</p>
            <p>{{ 'restaurant.email'|trans }} : {{restaurant.email}}</p>
            <p>{{ 'restaurant.site_web'|trans }} : {{restaurant.siteWeb}}</p>
            <p>{{ 'restaurant.horaires'|trans }} : {{restaurant.horaires}}</p>
            <p>{{ 'restaurant.type'|trans }} : {{restaurant.type}}</p>
        </div>

        <div class="plat--infos"> 
            <h3>{{ 'carte.entree'|trans }}</h3>
            {% for entree in entrees %}
                <p>{{entree.nom}}</p>
                <p>{{entree.description}}</p>
                <p>{{entree.prix}}</p>
            {% endfor %}
            <h3>{{ 'carte.plat'|trans }}</h3>
            {% for plat in plats %}
                <p>{{plat.nom}}</p>
                <p>{{plat.description}}</p>
                <p>{{plat.prix}}</p>
            {% endfor %}
            <h3>{{ 'carte.dessert'|trans }}</h3>
            {% for dessert in desserts %}
                <p>{{dessert.nom}}</p>
                <p>{{dessert.description}}</p>
                <p>{{dessert.prix}}</p>
            {% endfor %}
            <h3>{{ 'carte.boisson'|trans }}</h3>
            {% for boisson in boissons %}
                <p>{{boisson.nom}}</p>
                <p>{{boisson.description}}</p>
                <p>{{boisson.prix}}</p>
                <p>{{boisson.quantite}} cl</p>
            {% endfor %}
            
        </div>

        <a href="{{ path('contact', {id: restaurant.id}) }}">{{ 'restaurant.contact'|trans }}</a>
    </div>
   
{% endblock %}
