{% extends 'front/base.html.Twig' %}

{% block content %}

<section class="admin">
    <h1>{{ 'global.admin'|trans }}</h1>

    <h3>{{ 'restaurant.liste'|trans }}</h3>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>{{ 'global.nom'|trans }}</th>
            </tr>
        </thead>
            <tbody>
            {% for restaurant in restaurants %}
                <tr>
                    <td>{{ restaurant.id }}</td>
                    <td>{{ restaurant.nom }}</td>
                    <td><a href="{{ path('restaurant_detail_admin', {id: restaurant.id}) }}" class="btn">{{ 'restaurant.details'|trans }}</a></td>
                    <td><a href="{{ path('update_restaurant', {id: restaurant.id}) }}" class="btn">{{ 'restaurant.update'|trans }}</a></td>
                    <td><a href="{{ path('remove_restaurant', {id: restaurant.id}) }}" class="btn">{{ 'restaurant.remove'|trans }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
    </table>

    <a href="{{ path('add_restaurant') }}" class="btn btn--add">{{ 'restaurant.add'|trans }}</a>
</section>
{% endblock %}
