{% extends 'front/base.html.Twig' %}

{% block content %}
    <div class="restaurant--detail">
        <div class="restaurant--infos"> 
            <div class="restaurant--left">  
                <h1>{{restaurant.nom}}</h1>
                <div>
                    <h2 class="title"> {{ 'restaurant.adresse'|trans }} </h2>
                    <p> {{restaurant.adresse}}</p>
                </div>
                <div>
                    <h2 class="title">{{ 'restaurant.cp'|trans }} </h2>
                    <p> {{restaurant.codePostal}}</p>
                </div>
                <div>
                    <h2 class="title"> {{ 'restaurant.ville'|trans }} </h2>
                    <p> {{restaurant.ville}}</p>
                </div>
                <div>
                    <h2 class="title">{{ 'restaurant.site_web'|trans }} </h2>
                   <a href="{{restaurant.siteWeb}}" target="_blank"> <p> {{restaurant.siteWeb}}</p></a>
                </div>
                <div>
                    <h2 class="title"> {{ 'restaurant.type'|trans }} </h2>
                    <p> {{restaurant.type}}</p>
                </div>
            </div>
            <div class="restaurant--right"> 
                <div class="restaurant--img"><img  src="/uploads/photos/{{restaurant.photo}}" />   </div>
                
                <div class="restaurant--adresse">
                    <p> {{restaurant.telephone}}</p>
                    <a href="{{restaurant.email}}"> <p>{{restaurant.email}}</p></a>
                    <p> {{restaurant.horaires}}</p>
                </div>
            </div>
        </div>

        <div class="carte"> 
            <div class="entree"> 
                <h3 class="title">{{ 'carte.entree'|trans }}</h3>
                {% for entree in entrees %}
                    <div class="carte--item"> 
                        <p>{{entree.nom}}</p>
                        <p>{{entree.description}}</p>
                        <p>{{entree.prix|prix}}</p>
                        <a href="{{ path('remove_entree', {slug_restaurant: restaurant.slug, slug: entree.slug}) }}">Supprimer</a>
                    </div>
                {% endfor %}
            </div>
            <div class="plat"> 
                <h3 class="title">{{ 'carte.plat'|trans }}</h3>
                {% for plat in plats %}
                    <div class="carte--item">
                        <p>{{plat.nom}}</p>
                        <p>{{plat.description}}</p>
                        <p>{{plat.prix|prix}}</p>
                        <a href="{{ path('remove_plat', {slug_restaurant: restaurant.slug, slug: plat.slug}) }}">Supprimer</a>
                    </div>
                {% endfor %}
            </div>
            <div class="dessert"> 
                <h3 class="title">{{ 'carte.dessert'|trans }}</h3>
                {% for dessert in desserts %}
                    <div class="carte--item">
                        <p>{{dessert.nom}}</p>
                        <p>{{dessert.description}}</p>
                        <p>{{dessert.prix|prix}}</p>
                        <a href="{{ path('remove_dessert', {slug_restaurant: restaurant.slug, slug: dessert.slug}) }}">Supprimer</a>
                    </div>
                {% endfor %}
            </div>
            <div class="boisson"> 
                <h3 class="title">{{ 'carte.boisson'|trans }}</h3>
                {% for boisson in boissons %}
                    <div class="carte--item">
                    <p>{{boisson.nom}}</p>
                    <p>{{boisson.description}}</p>
                    <p>{{boisson.prix|prix}}</p>
                    <p>{{boisson.quantite}} cl</p>
                    <a href="{{ path('remove_boisson', {slug_restaurant: restaurant.slug, slug: boisson.slug}) }}">Supprimer</a>
                </div>
                {% endfor %}           
            </div>
        </div>
        <div class="restaurant--carte"> 
            <a href="{{path('add_entree', {slug:restaurant.slug})}}" class="btn"> {{ 'carte.link_entree'|trans }} </a>
            <a href="{{path('add_plat', {slug:restaurant.slug})}}" class="btn"> {{ 'carte.link_plat'|trans }}  </a>
            <a href="{{path('add_dessert', {slug:restaurant.slug})}}" class="btn">{{ 'carte.link_dessert'|trans }}  </a>
            <a href="{{path('add_boisson', {slug:restaurant.slug})}}" class="btn"> {{ 'carte.link_boisson'|trans }}  </a>
        </div>
    </div>
{% endblock %}
