{% extends 'front/base.html.Twig' %}

{% block content %}
    <div class="restaurant--detail">
        <div class="restaurant--infos"> 
            <div class="restaurant--left">  
                <h1>{{restaurant.nom}}</h1>
                <div>
                    <h2> Votre adresse </h2>
                    <p> {{restaurant.adresse}}</p>
                </div>
                <div>
                    <h2> Votre code postal </h2>
                    <p> {{restaurant.codePostal}}</p>
                </div>
                <div>
                    <h2> Votre ville </h2>
                    <p> {{restaurant.ville}}</p>
                </div>
                <div>
                    <h2> Votre site web </h2>
                    <p> {{restaurant.siteWeb}}</p>
                </div>
                <div>
                    <h2> Type de restaurant </h2>
                    <p> {{restaurant.type}}</p>
                </div>
            </div>
            <div class="restaurant--right"> 
                <div class="restaurant--img"><img  src="/uploads/photos/{{restaurant.photo}}" />   </div>
                
                <div class="restaurant--adresse">
                    <p> {{restaurant.telephone}}</p>
                    <p> {{restaurant.email}}</p>
                    <p> {{restaurant.horaires}}</p>
                </div>
            </div>
        </div>

        <div class="plat--infos"> 
            <h3>Entrées</h3>
        {% for entree in entrees %}
            <p>{{entree.nom}}</p>
            <p>{{entree.description}}</p>
            <p>{{entree.prix|prix}}</p>
            <a href="{{ path('remove_entree', {id_restaurant: restaurant.id, id: entree.id}) }}">Supprimer</a>
        {% endfor %}
        <h3>Plats</h3>
        {% for plat in plats %}
            <p>{{plat.nom}}</p>
            <p>{{plat.description}}</p>
            <p>{{plat.prix}}</p>
            <a href="{{ path('remove_plat', {id_restaurant: restaurant.id, id: plat.id}) }}">Supprimer</a>
        {% endfor %}
        <h3>Desserts</h3>
        {% for dessert in desserts %}
            <p>{{dessert.nom}}</p>
            <p>{{dessert.description}}</p>
            <p>{{dessert.prix}}</p>
            <a href="{{ path('remove_dessert', {id_restaurant: restaurant.id, id: dessert.id}) }}">Supprimer</a>
        {% endfor %}
        <h3>Boissons</h3>
        {% for boisson in boissons %}
            <p>{{boisson.nom}}</p>
            <p>{{boisson.description}}</p>
            <p>{{boisson.prix}}</p>
            <p>{{boisson.quantite}} cl</p>
            <a href="{{ path('remove_boisson', {id_restaurant: restaurant.id, id: boisson.id}) }}">Supprimer</a>
        {% endfor %}
           
        </div>
        <div class="restaurant--carte"> 
            <a href="{{path('add_entree', {id:restaurant.id})}}"> Ajouter une entrée </a>
            <a href="{{path('add_plat', {id:restaurant.id})}}"> Ajouter un plat </a>
            <a href="{{path('add_dessert', {id:restaurant.id})}}"> Ajouter un dessert </a>
            <a href="{{path('add_boisson', {id:restaurant.id})}}"> Ajouter une boisson </a>
        </div>
    </div>

{% endblock %}
