{% extends 'front/base.html.Twig' %}

{% block content %}
    <div class="restaurant--detail">
        <div class="restaurant--infos"> 
            <div class="restaurant--left">  
                <h1>{{restaurant.nom}}</h1>
                <div>
                    <h2> {{ 'restaurant.adresse'|trans }} </h2>
                    <p> {{restaurant.adresse}}</p>
                </div>
                <div>
                    <h2>{{ 'restaurant.cp'|trans }} </h2>
                    <p> {{restaurant.codePostal}}</p>
                </div>
                <div>
                    <h2> {{ 'restaurant.ville'|trans }} </h2>
                    <p> {{restaurant.ville}}</p>
                </div>
                <div>
                    <h2>{{ 'restaurant.site_web'|trans }} </h2>
                    <p> {{restaurant.siteWeb}}</p>
                </div>
                <div>
                    <h2> {{ 'restaurant.type'|trans }} </h2>
                    <p> {{restaurant.type}}</p>
                </div>
            </div>
            <div class="restaurant--right"> 
                <div class="restaurant--img"><img  src="/uploads/photos/{{restaurant.photo}}" />   </div>
                
                <div class="restaurant--adresse">
                    <p> {{restaurant.telephone}}</p>
                    <p> {{restaurant.email}}</p>
                    <p> {{restaurant.horaires}}</p>
                </div>
            </div>
        </div>

        <div class="plat--infos"> 
            <h3>{{ 'carte.entree'|trans }}</h3>
        {% for entree in entrees %}
            <p>{{entree.nom}}</p>
            <p>{{entree.description}}</p>
            <p>{{entree.prix|prix}}</p>
            <a href="{{ path('remove_entree', {id_restaurant: restaurant.id, id: entree.id}) }}">Supprimer</a>
        {% endfor %}
        <h3>{{ 'carte.plat'|trans }}</h3>
        {% for plat in plats %}
            <p>{{plat.nom}}</p>
            <p>{{plat.description}}</p>
            <p>{{plat.prix}}</p>
            <a href="{{ path('remove_plat', {id_restaurant: restaurant.id, id: plat.id}) }}">Supprimer</a>
        {% endfor %}
        <h3>{{ 'carte.dessert'|trans }}</h3>
        {% for dessert in desserts %}
            <p>{{dessert.nom}}</p>
            <p>{{dessert.description}}</p>
            <p>{{dessert.prix}}</p>
            <a href="{{ path('remove_dessert', {id_restaurant: restaurant.id, id: dessert.id}) }}">Supprimer</a>
        {% endfor %}
        <h3>{{ 'carte.boisson'|trans }}</h3>
        {% for boisson in boissons %}
            <p>{{boisson.nom}}</p>
            <p>{{boisson.description}}</p>
            <p>{{boisson.prix}}</p>
            <p>{{boisson.quantite}} cl</p>
            <a href="{{ path('remove_boisson', {id_restaurant: restaurant.id, id: boisson.id}) }}">Supprimer</a>
        {% endfor %}
           
        </div>
        <div class="restaurant--carte"> 
            <a href="{{path('add_entree', {id:restaurant.id})}}"> {{ 'carte.link_entree'|trans }} </a>
            <a href="{{path('add_plat', {id:restaurant.id})}}"> {{ 'carte.link_plat'|trans }}  </a>
            <a href="{{path('add_dessert', {id:restaurant.id})}}">{{ 'carte.link_dessert'|trans }}  </a>
            <a href="{{path('add_boisson', {id:restaurant.id})}}"> {{ 'carte.link_boisson'|trans }}  </a>
        </div>
    </div>

{% endblock %}
